From question 1:
<TABLE border=1>
  <Caption>List of people</Caption>
  <TR>
  <TH>Name</TH>
  <TH>Age</TH>
  <TH>Gender</TH>
  </TR>
  <TR *ngFor="let p of peoplelist" >
  <TD>{{p.name}}</TD>
  <TD>{{p.age}}</TD>
  <TD>{{p.gender}}</TD>
  </TR>
</TABLE>

From question 2:
<TABLE border=1>
  <Caption>List of people</Caption>
  <TR>
  <TH>Name</TH>
  <TH>Age</TH>
  <TH>Gender</TH>
  </TR>
  <TR *ngFor="let p of peoplelist" >
  <TD>{{p.name}}</TD>
  <TD>{{p.age}}</TD>
  <TD>{{p.gender}}</TD>
  </TR>
</TABLE>