<h3>
  Add Customer to the database
</h3>
<form #myForm="ngForm" (ngSubmit)="addCustomer(myForm)">
  
    <h3>Add Customer</h3>
    Customer Id: <input type="number" name="custId" ngModel><br><br>
    Customer Name: <input type="text" name="custName" ngModel><br><br>
    Customer Address: <input type="text" name="custAddress" ngModel><br><br>
 
  <br>
    <input type="submit" value="Add Customer">
</form>
<br><br>
<div *ngIf="customer">
    <h3>Customer Information according to the Id you entered:</h3>
    <ul>
        <li>Customer Id: {{customer.custId}}</li>
        <li>Customer Name: {{customer.custName|uppercase}}</li>
        <li>Customer Address: {{customer.custAddress}}</li>
    </ul>
</div>
