<h1> The List of People For Problem Statement 1 </h1>
<table>

  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>

  <tr *ngFor="let people of peoples1">
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>{{people.gender}}</td>
  </tr>
</table>

<h1> The List of People For Problem Statement 2 </h1>
<h2>Calling getAllPeople() Method {{getAllPeople()}}</h2>


<table>

  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>

  <tr *ngFor="let people of peoples2">
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>{{people.gender}}</td>
  </tr>
</table>