<p>
  two-way-form works!
</p>

<fieldset>
  Order Id: <input type="text" [(ngModel)]="orderId"><br><br>
  Cust name: <input type="text" [(ngModel)]="custName"><br><br>
  Enter billing date: <input type="text" [(ngModel)]="billDate"><br><br>
  Enter Shipping date: <input type="text" [(ngModel)]="shipDate"><br><br>
  Order Total: <input type="text" [(ngModel)]="orderTotal"><br><br>

  <h4>Details:</h4>
  Order Id:{{orderId}}<br>
  Cust name:{{custName}}<br>
  Billing date:{{billDate}}<br>
  Shipping date:{{shipDate}}<br>
  Order Total:{{orderTotal}}<br>
</fieldset>