<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Day 11 webApps</display-name>

	<servlet>
		<servlet-name>hwServlet</servlet-name>
		<servlet-class>com.hsbc.jspServlet.HelloWorldservlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hwServlet</servlet-name>
		<url-pattern>/helloWorldServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>displayServlet</servlet-name>
		<servlet-class>com.hsbc.jspServlet.DisplayServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>displayServlet</servlet-name>
		<url-pattern>/displayServlet</url-pattern>
	</servlet-mapping>


	
		<servlet>
		<servlet-name>fcServlet</servlet-name>
		<servlet-class>com.hsbc.jspServlet.FirstCookieServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fcServlet</servlet-name>
		<url-pattern>/fcServlet</url-pattern>
	</servlet-mapping>




		<servlet>
		<servlet-name>scServlet</servlet-name>
		<servlet-class>com.hsbc.jspServlet.SecondCookieServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>scServlet</servlet-name>
		<url-pattern>/scServlet</url-pattern>
	</servlet-mapping>
	
	
	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>

	</welcome-file-list>
</web-app>