<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>HsbcWebApp</display-name>

	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.hsbc.servlet.HWservlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>processname</servlet-name>
		<servlet-class>com.hsbc.servlet.PNservlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>processname</servlet-name>
		<url-pattern>/processName</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>sumservlet</servlet-name>
		<servlet-class>com.hsbc.servlet.SumServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sumservlet</servlet-name>
		<url-pattern>/sumServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>siservlet</servlet-name>
		<servlet-class>com.hsbc.servlet.SIservlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>siservlet</servlet-name>
		<url-pattern>/siServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.hsbc.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>