<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HSBCWebApp</display-name>
  <servlet>
  		<servlet-name>abc</servlet-name>
    	<servlet-class>com.hsbc.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>abc</servlet-name>
    	<url-pattern>/helloWorld</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
  		<servlet-name>simpleinterest</servlet-name>
    	<servlet-class>com.hsbc.SimpleInterestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>simpleinterest</servlet-name>
    	<url-pattern>/simpleInterest</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  		<servlet-name>loginapp</servlet-name>
    	<servlet-class>com.hsbc.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>loginapp</servlet-name>
    	<url-pattern>/loginApplication</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  		<servlet-name>processname</servlet-name>
    	<servlet-class>com.hsbc.ProcessNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>processname</servlet-name>
    	<url-pattern>/processName</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  		<servlet-name>addtwonumbers</servlet-name>
    	<servlet-class>com.hsbc.AddTwoNumbersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>addtwonumbers</servlet-name>
    	<url-pattern>/addTwoNumbers</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
  		<servlet-name>userInputForm</servlet-name>
    	<servlet-class>com.hsbc.UserInputFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>userInputForm</servlet-name>
    	<url-pattern>/userInputForm</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
  		<servlet-name>getAllBooks</servlet-name>
    	<servlet-class>com.hsbc.GetAllBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>getAllBooks</servlet-name>
    	<url-pattern>/getAllBooks</url-pattern>
    </servlet-mapping>
    
    
  <welcome-file-list>
   
    <welcome-file>index.jsp</welcome-file>
   
  </welcome-file-list>
  
</web-app>